* {
    font-family: 'Girassol', cursive;
}
/* Desktop */

body {
    min-height: 100vh;
    /*display: flex;
    flex-direction: column;*/
}

/* STARTS HEADER */
.headerBox {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #180030;
    position: sticky;
}

.logoMolecule {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.logo {
    width: 65px;
    height: auto;
    padding: 0px 15px 0px 0px;
}

.headerTitle {
    font-size: 28px;
}

a, .headerBox , .footerBox {
    color: #EAA41C !important;
}

.welcomeBox {
    display: flex;
    align-items: center;
}

.star {
    width: 43px;
    margin-bottom: 15px;
}

.welcomeTxt {
    width: 350px;
    height: 55px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: center; 
}

.nav-item {
    display: inline-block;
    font-size: 22px;
    line-height: 29px;
}

.loginBtn {
    padding: 0px 20px 0px 0px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones */
    .headerBox .container {
        width: 100% !important;
        display: flex;
        justify-content: space-around;
    }

    .headerTitle {
        display: none;
    }

    .welcomeBox {
        display: none;
    }

    .registerBtn {
        display: none;
    }
}

/* STARTS FOOTER */
.footerBox {
    /*height: 40px;
    width: auto;*/
    background-color: #180030;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px /*0px 20px*/;
    /*margin-top: auto;
    bottom: -20px;
    clear: both;
    position: relative;*/
}

.socialMedia {
    /*height: 23px;
    width: auto;*/
    display: flex;
    align-items: center;
    /*margin-right: 15px;
    margin-top: 3px;
    bottom: 0px;*/
}

.socialMedia .navbar-brand:first-child {
padding-right: 20px;
}

.copyright {
    font-size: 20px;
    /*bottom: 0px;*/
    margin-bottom: 0px;
}