* {
    font-family: 'Girassol', cursive;
}
/* STARTS HEADER */
.headerBox {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #180030;
    overflow-inline: 20px;
}

.logoMolecule {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.logo {
    width: 65px;
    height: auto;
    padding: 0px 15px 0px 0px;
}

.headerTitle {
    font-size: 30px;
}

a, .headerBox , .footerBox {
    color: #EAA41C !important;
}

.welcomeBox {
    display: flex;
    align-items: center;
}

.star {
    width: 43px;
    margin-bottom: 15px;
}

.welcomeTxt {
    width: 350px;
    height: 55px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    font-size: 22px;
    line-height: 29px;
}

.loginBtn {
    padding: 0px 20px 0px 0px;
}

/* STARTS FOOTER */
.footerBox {
    height: 40px;
    width: auto;
    background-color: #180030;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0 20px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
}

.socialMedia {
    height: 23px;
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 3px;
}

.copyright {
    font-size: 20px;
}