body {
    background-image: url(../img/loginFronted/NevermoreAcademy.webp);
    background-repeat: no-repeat; 
    background-size: cover;
    position: center no-repeat;
    opacity: 0,6 !important; 
}

.loginBox {
    background-color:rgb(9.41176%, 0%, 18.82353%, 0.7)!important;  
    width:900px; /* ширина блока */
    height: 525px; /* высота блока */
    position: absolute;
    margin: 40%;
    box-sizing: border-box;
    border-radius: 45px; /* закругленные углы снизу */
}

.img {
background-image: url(../img/loginFronted/logo_nevermore_academy.png);
width: 150px;
position: absolute;
left: 45%;
top: 5%;
}

.email {
    color: rgba(59, 37, 81, 0.8) !important;
    width: 20px;
    height: 14px; /* ширина */
    border-radius: 45px;
    position: absolute;
    font-family: 'Girassol', cursive;
    font-size: 16px;
    left: 45%;
    top: 50%;
    flex-direction: row;
    margin-left: -20px;
    margin-top: -20px
}

.password {
    width: 20px;
    height: 14px; /* ширина */
    border-radius: 15px; 
    position: absolute;
    font-family: 'Girassol', cursive;
    font-size: 16px;
    left: 45%;
    top: 65%;
    margin-left: -20px;
    margin-top: -20px;/* закругленные углы снизу */
}

.btn-continue {
    /* фон */
    /* закругленные углы */
    /* vertical-align: middle !important; /* отступы */
    /* padding: 22px 20px; /* оступы для текста */ 
    cursor: pointer;
    font-family: 'Girassol', cursive;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 85%;
    margin-left: -20px;
    margin-top: -20px
    
}

.continue{
    background: #EAA41C; /* фон */
    border-radius: 15px;
}

input {
    background-color: rgba(59, 37, 81, 0.8) !important;
}



